asgiref==3.2.7
Django==3.0.5
docxtpl==0.6.3
entrypoints==0.3
flake8==3.7.9
Jinja2==2.11.1
jplephem==2.14
lunardate==0.2.0
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.2
pyCalverter==1.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyluach==1.0.1
python-dateutil==2.8.1
python-docx==0.8.7
pytz==2019.3
sgp4==2.5
six==1.14.0
skyfield==1.18
skyfield-data==0.1.0
sqlparse==0.3.1
workalendar==8.2.1
