appdirs==1.4.4
asgiref==3.2.7
attrs==19.3.0
black==19.10b0
click==7.1.1
Django==3.1.6
django-cors-headers==3.4.0
djangorestframework==3.11.0
docxtpl==0.10.0
entrypoints==0.3
flake8==3.7.9
importlib-metadata==1.6.0
Jinja2==2.11.1
jplephem==2.14
lunardate==0.2.0
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
numpy==1.18.2
packaging==20.3
pathspec==0.7.0
pluggy==0.13.1
py==1.9.0
pyCalverter==1.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
pyluach==1.0.1
pyparsing==2.4.7
pytest==5.4.1
python-dateutil==2.8.1
python-docx==0.8.7
pytz==2019.3
regex==2020.4.4
sgp4==2.5
six==1.14.0
skyfield==1.18
skyfield-data==0.1.0
sqlparse==0.3.1
toml==0.10.0
typed-ast==1.4.1
wcwidth==0.1.9
workalendar==8.2.1
zipp==3.1.0
